.advantages {
	display: flex;
	margin: 0 auto;
	max-width: max-content;
}

.advantagesContent,
.advantagesContentPlanshet {
	background: url(../../assets/Advantages/folder.svg) center no-repeat;

	padding: 94px 0 40px 40px;
	max-width: 347px;
}

.advantages__title {
	font-size: 60px;
	font-family: 'Unbounded';
	line-height: 150%;
	color: #F5F1EE;

	padding-left: 40px;
}

.advantages__text {
	font-size: 20px;
	font-weight: bold;
	line-height: 150%;
	color: #F5F1EE70;

	padding-left: 40px;
	padding-bottom: 40px;
}

@media (min-width: 360px) {
	.advantages {
		gap: 24px;
		flex-direction: column;
		margin: 0 auto 80px;
	}
}

@media (min-width: 768px) {
	.advantages {
		max-width: none;
		margin-bottom: 149px;

		gap: 33px;
		flex-direction: column;
		align-self: flex-start;
	}

	.advantagesContentPlanshet {
		align-self: flex-end;
	}

	.advantages > div:last-child {
		margin-left: 5%;
	}
}

@media (min-width: 1440px) {
	.advantages {
		margin-bottom: 195;

		gap: 53px;
		flex-direction: row;
		justify-content: center;
		align-self: center;
	}

	.advantagesContent:first-child {
		width: 100%;
	}

	.advantagesContentPlanshet {
		align-self: center;
	}

	.advantages > div:last-child {
		margin-left: 0;
	}
}
