.byblik {
  position: relative;
}

@media (min-width: 360px) {
  .byblik {
    top: 50px;
    left: auto;
    right: -50px;
  }

  .byblik > img {
    max-width: 100%;
  }
}

@media (min-width: 480px) {
  .byblik > img {
    position: static;
    max-width: 100%;
  }
}

@media (min-width: 540px) {
  .byblik > img {
    max-width: 100%;
  }

  .byblik > img {
    max-height: 100%;
    width: 600px;
  }
}

@media (min-width: 768px) {
  .byblik {
    text-align: end;
  }
}

@media (min-width: 1150px) {
  .byblik {
    top: -250px;
    left: -50px;
  }

  .byblik > img {
    max-height: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .byblik {
    top: -150px;
    left: 0;
  }

  .byblik > img {
    max-height: 100%;
    max-width: 100%;
  }
}
