.wrapper {
  width: 354px;

  font-size: 12px;

  margin: 131px auto 0;
}

.container {
  display: flex;
}

.leftText {
  display: flex;
  flex-direction: column;
  gap: 264px;

  width: 148px;

  margin-top: 20px;
}

.rightText {
  display: flex;
  flex-direction: column;
  gap: 248px;

  width: 148px;

  margin-top: 168px;
}

.arrow svg {
  width: 37px;
}

.arrowLine {
  display: flex;
  justify-content: center;

  position: relative;

  margin: 0 20px;
}

.arrowLine svg {
  height: 824px;
}

.heart {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  bottom: 70px;
  right: 5px;
}

.heart svg {
  width: 274px;
  animation: heartbeat 3s infinite;
}

.btn {
  font-size: 17px;
  width: 206px;

  border: 1px solid #F5F1EE;
  border-radius: 65.14px;

  padding: 20px 55px;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  ANIMATION                                           */
/*---------------------------------------------------------------------------------------------*/
@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(.75);
  }
  100% {
    transform: scale(.75);
  }
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 480px) {

}

@media (min-width: 720px) {
  .wrapper {
    font-size: 18px;

    width: 656px;

    margin-top: 378px;
  }

  .leftText {
    width: 325px;

    text-align: end;

    margin-top: 111px;

    gap: 392px;
  }

  .rightText {
    width: 329px;

    text-align: start;

    margin-top: 295px;

    gap: 368px;
  }

  .arrowLine svg {
    height: 1194px;
    width: 6px;
  }

  .arrow {
    display: flex;
    justify-content: center;
  }

  .arrow svg {
    width: 43px;
  }

  .heart {
    right: 2px
  }

  .heart svg {
    width: 364px;
  }

}

@media (min-width: 1000px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {
  .wrapper {
    margin-top: 156px;

  }

  .arrowLine {
    margin: 0 44px;
  }


}